<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding >
        <binding name="EdubaseSoap11" >
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
              requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
        <binding name="EdubaseFileManagerSoap11" >
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
              requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <mtomMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.education.gov.uk/edubase/service"
          binding="customBinding" bindingConfiguration="EdubaseSoap11"
          contract="EdubaseService.Edubase" name="EdubaseSoap11" />
      <endpoint address="https://www.education.gov.uk/edubase/service"
          binding="customBinding" bindingConfiguration="EdubaseFileManagerSoap11"
          contract="EdubaseService.EdubaseFileManager" name="EdubaseFileManagerSoap11" />
    </client>
  </system.serviceModel>
</configuration>